/* Start of Moblie view CSS Design*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Assistant:wght@200&family=Courier+Prime&family=Rowdies:wght@300&family=Secular+One&family=Work+Sans:wght@100;300&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body {
    background: #f5f5f5;
}
.container {
    max-width: 325px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
}

/* Start of Section One CSS Design */
.sectionOne {
    margin-top: 100px;
}
.headingOne {
    font-family: 'Secular One', sans-serif;
    
}
.paragraphOne {
    font-family: sans-serif;
    text-align: justify;
}

/* Start of Section Two CSS Design */
.sectionTwo {
    background-color: #f5f5f5;
    box-shadow: 20px 20px 35px #d0d0d0, -20px -20px 35px #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.headingTwo {
    font-family: 'Secular One', sans-serif;
    text-align: center;
}
.paragraphTwo {
    font-family: sans-serif;
    text-align: justify;
    font-size: 20px;
}
.paragraphThree {
    font-family: sans-serif;
    text-align: justify;
    font-size: 20px;
    margin-top: 10px;
}
.inputOne {
    font-size: 15px;
    border: none;
    padding: 5px;
    
}
.inputTwo {
    font-size: 15px;
    border: none;
    padding: 5px;

}

.solve {
    margin: 25px 100px;
    border-radius: 2px;
    padding: 4px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 2px black;
}
.solve:hover {
    background-color: green;
    color: white;
}

.outputOne {
    font-family: sans-serif;
    font-size: 20px;
}
.outputTwo {
    font-family: sans-serif;
    font-size: 20px;
}
#bmi {
    color: green;
}
#category {
    color: green;
}



/* Start of Section Three CSS Design */
.sectionThree {
    max-width: 300px;
    margin: auto;
    padding-top: 265px;
    padding-bottom: 300px;
    background-color: whitesmoke;
}
.headingThree {
    font-family: 'Secular One', sans-serif;
}
.paragraphFour {
    font-family: sans-serif;
    text-align: justify;
    font-size: 20px;
}
table {
    font-family: sans-serif;
}
th, td {
    padding: 5px; 
}
th {
    background-color: #262626;
    color: white;
}
td {
    text-align: justify;
}

/* Start of Footer CSS */

.footer {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 325px;
    padding-top: 20px;
    padding-bottom: 75px;
}
hr {
    height: 5px;
    border-radius: 10px;
    background: linear-gradient(to right, aqua, red);
    border: none;
    max-width: 325px;
    margin: auto;
    
}
.footerName {
    font-family: 'Secular One', sans-serif;
    
}   
.socialmedia-iconsTwo {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 55px;
}
.socialmedia-iconsTwo, a, i {
    color: #262626;
}
.fa-facebook:hover {
    color: #515BD4;
}
.fa-twitter:hover {
    color: aqua;
}
.fa-instagram:hover {
    background-image: linear-gradient(to right, #515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
}
.fa-discord:hover {
    color: darkviolet;
}


@media only screen and (min-width: 600px) {
    .container {
        max-width: 600px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }
    
    /* Start of Section One */
    .sectionOne {
        margin-top: 150px;
    }
    .paragraphOne {
        font-size: 20px;
    }

    /* Start of Section Two */
    .sectionTwo {
        margin-top: 150px;
    }

    /* Start of Section Three */
    .sectionThree {
        max-width: 600px;
        padding-top: 270px;
    }
    .headingThree {
        font-size: 54px;
    }
    .paragraphFour {
        font-size: 20px;
        padding-bottom: 10px;
    }

    /* Start of Footer CSS */
    .footer {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 725px;
        padding-top: 20px;
        padding-bottom: 100px;
    }
    hr {
        height: 5px;
        border-radius: 10px;
        background: linear-gradient(to right, aqua, red);
        border: none;
        max-width: 725px;
        margin: auto;
    }
    .footerName {
        font-family: 'Secular One', sans-serif;
    }   
    .socialmedia-iconsTwo {
        margin-top: 10px;
        font-size: 25px;
        margin-left: 235px;
    }


}

@media only screen and (min-width: 1000px) {
    .container {
        max-width: 1000px;
        
        
    }
    /* Start of Section One */
    .headingOne {
        font-size: 35px;
    }
    .paragraphOne {
        font-size: 25px;
    }

    /* Start of Section Two */
    .sectionTwo {
        padding: 25px 45px;
        
    }
    .headingTwo {
        font-size: 35px;
    }
    .paragraphTwo {
        font-size: 25px;
    }
    .paragraphThree {
        font-size: 25px;
    }
    .inputOne {
        font-size: 20px;
    }
    .inputTwo {
        font-size: 20px;
    }
    .solve {
        margin: 25px 150px;
    }

    /* Start of Section Three CSS */
    .sectionThree {
        max-width: 1000px;
        padding-top: 200px;
    }
    .headingThree {
        font-size: 75px;
    }
    .paragraphFour {
        font-size: 25px;
    }
    td {
        font-size: 25px;
    }
    th {
        font-size: 30px;
    }
    

    /* Start of Footer CSS */
    .footer {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1100px;
        padding-top: 20px;
        padding-bottom: 100px;
    }
    hr {
        height: 5px;
        border-radius: 10px;
        background: linear-gradient(to right, aqua, red);
        border: none;
        max-width: 1100px;
        margin: auto;
        
    }
    .footerName {
        font-family: 'Secular One', sans-serif;
    }   
    .socialmedia-iconsTwo {
        margin-top: 10px;
        font-size: 25px;
        margin-left: 425px;
    }

}

@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1300px;
        margin-top: 200px;
    }
    /* Start of Section One */
    .headingOne {
        font-size: 50px;
    }
    .paragraphOne {
        font-size: 30px;
    }

    /* Start of Section Two */
    .sectionTwo {
        padding: 35px 55px;
        
    }
    .headingTwo {
        font-size: 50px;
    }
    .paragraphTwo {
        font-size: 35px;
    }
    .paragraphThree {
        font-size: 35px;
    }
    .inputOne {
        font-size: 30px;
    }
    .inputTwo {
        font-size: 30px;
    }
    .solve {
        margin: 25px 220px;
        font-size: 25px;
    }
    .outputOne {
        font-size: 30px;
    }
    .outputTwo {
        font-size: 30px;
    }

    /* Start of Section Three */
    .sectionThree {
        max-width: 1300px;
        padding-top: 365px;
    }
    .headingThree {
        font-size: 75px;
    }
    .paragraphFour {
        font-size: 30px;
    }
    td {
        font-size: 35px;
    }
    th {
        font-size: 50px;
    }


    /* Start of Footer CSS */
    .footer {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1500px;
        padding-top: 20px;
        padding-bottom: 25px;
    }
    hr {
        height: 5px;
        border-radius: 10px;
        background: linear-gradient(to right, aqua, red);
        border: none;
        max-width: 1500px;
        margin: auto;
    }
    .footerName {
        font-family: 'Secular One', sans-serif;
    }   
    .socialmedia-iconsTwo {
        margin-top: 10px;
        font-size: 25px;
        margin-left: 625px;
    }
}

